In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('./merchandise_values_annual_dataset.csv', encoding = "ISO-8859-1")

In [12]:
data.head()

,Reporter_code,Reporter_description,Partner_code,Partner_description,Indicator_code,Indicator_description,Flow_Code,Flow_Description,Year,Unit,Value,Flag,Source_Description,Note
0,AF,Afghanistan,WL,World,TO,Total merchandise,X,Exports,1948,million USD,49.0,,WTO,
1,AF,Afghanistan,WL,World,TO,Total merchandise,X,Exports,1949,million USD,47.0,,WTO,
2,AF,Afghanistan,WL,World,TO,Total merchandise,X,Exports,1950,million USD,53.0,,WTO,
3,AF,Afghanistan,WL,World,TO,Total merchandise,X,Exports,1951,million USD,60.0,,WTO,
4,AF,Afghanistan,WL,World,TO,Total merchandise,X,Exports,1952,million USD,45.0,,WTO,

In [7]:
data.Indicator_description.value_counts()

Total merchandise                                  54097
Agricultural products                              36160
Manufactures                                       36159
Fuels and mining products                          35969
Food                                               35923
Clothing                                           35700
Textiles                                           35649
Office and telecom equipment                       35402
Chemicals                                          33395
Machinery and transport equipment                  33374
Iron and steel                                     33238
Automotive products                                33229
Fuels                                              32936
Transport equipment                                31917
Telecommunications equipment                       31904
Electronic data processing and office equipment    31889
Pharmaceuticals                                    31757
Integrated circuits and electronic components      31555
Other food products                                24871
Other semi-manufactures                            24867
Other chemicals                                    24865
Other manufactures                                 24863
Raw materials                                      24859
Scientific and controlling instruments             24858
Other machinery                                    24857
Ores and other minerals                            24856
Personal and household goods                       24850
Non-ferrous metals                                 24848
Miscellaneous manufactures                         24848
Other transport equipment                          24847
Fish                                               24835
Name: Indicator_description, dtype: int64

In [8]:
data.Year.value_counts()

2011    50140
2012    50100
2010    50064
2008    49925
2009    49915
2007    49867
2013    48816
2015    48790
2014    48782
2016    48653
2005    48061
2006    48030
2003    48018
2004    47997
2002    47901
2001    47766
2017    47744
2000    47729
1999     5209
1998     4667
1997     4584
1996     4431
1995     4265
1994     3841
1993     3650
1990     3598
1992     3539
1991     3372
1980     2938
1981     2270
        ...
1963      361
1964      361
1972      361
1973      361
1975      361
1976      361
1977      361
1978      361
1979      361
1960      359
1953      359
1954      359
1955      359
1956      359
1957      359
1958      359
1959      359
1967      359
1961      359
1965      359
1966      359
1968      359
1969      359
1970      359
1971      359
1952      356
1951      355
1950      355
1948      305
1949      303
Name: Year, Length: 70, dtype: int64

In [9]:
data.Partner_description.value_counts()

World                                                                                     208190
Europe                                                                                     27311
Non-EU south-eastern Europe                                                                27311
Other Africa                                                                               27311
Four East Asian traders                                                                    27311
Other CIS (CIS11)                                                                          27311
South Africa                                                                               27311
Australia and New Zealand                                                                  27311
South and Central America and the Caribbean                                                27311
Middle East                                                                                27311
India                                                                                      27311
Commonwealth of Independent States (CIS), including associate and former member States     27311
Asia                                                                                       27311
North America                                                                              27311
China                                                                                      27311
Other Asia                                                                                 27311
Non-EU Western Europe                                                                      27311
Africa                                                                                     27311
Russian Federation                                                                         27156
Japan                                                                                      27156
European Union (28)                                                                        26831
Least-developed countries, current membership                                              24222
Brazil                                                                                     23996
Mexico                                                                                     23950
United States of America                                                                   23787
Six East Asian traders                                                                     14725
Developing Asia                                                                            14694
European Union (27)                                                                        14508
Developed Economies                                                                        14477
Developed Asia                                                                             14322
Extra MERCOSUR Trade                                                                        3348
Southern Common Market (MERCOSUR)                                                           3348
Andean Community (ANDEAN)                                                                   2795
Extra ASEAN Trade                                                                           2790
Association of Southeast Asian Nations (ASEAN)                                              2790
Extra Andean Community Trade                                                                2790
Extra NAFTA Trade                                                                           2232
North American Free Trade Agreement (NAFTA)                                                 2232
Extra EU Trade                                                                              1617
Pacific Alliance                                                                             775
Extra Pacific Alliance Trade                                                                 775
Southern African Development Community (SADC)                                                558
Extra CEMAC Trade                                                                            558
Extra WAEMU Trade                                                                            558
Extra ECOWAS Trade                                                                           558
COMESA (Common Market for Eastern and Southern Africa)                                       558
West African Economic and Monetary Union (WAEMU)                                             558
Central African Economic and Monetary Community (CAEMC)                                      558
Extra SADC Trade                                                                             558
ECOWAS (Economic Community of West African States)                                           558
Extra COMESA Trade                                                                           558
Asia-Pacific Economic Cooperation (APEC)                                                       4
Name: Partner_description, dtype: int64

In [10]:
data.Reporter_description.value_counts()

Mexico                                                                                    18197
United States of America                                                                  18037
Brazil                                                                                    17591
European Union (28)                                                                       17484
Japan                                                                                     17358
World excluding Hong Kong re-exports                                                      17209
Russian Federation                                                                        16942
Middle East                                                                               16707
South and Central America and the Caribbean                                               16707
Africa                                                                                    16707
North America                                                                             16707
Europe                                                                                    16707
Four East Asian traders                                                                   16643
Non-EU south-eastern Europe                                                               16643
Developed Economies                                                                       16643
Other Africa                                                                              16643
Developing Asia                                                                           16643
Developed Asia                                                                            16643
Australia and New Zealand                                                                 16643
Non-EU Western Europe                                                                     16643
Other Asia                                                                                16643
Other CIS (CIS11)                                                                         16619
Commonwealth of Independent States (CIS), including associate and former member States    16619
Asia excluding Hong Kong re-exports                                                       16567
Peru                                                                                      16285
Venezuela, Bolivarian Republic of                                                         15980
Paraguay                                                                                  15770
Colombia                                                                                  15761
Least-developed countries, current membership                                             15745
Canada                                                                                    15543
                                                                                          ...
LDC exporters of agriculture                                                                 76
LDC oil exporters                                                                            76
SAFTA (South Asian Free Trade Agreement)                                                     76
Tajikistan                                                                                   76
WTO Member Countries                                                                         76
Korea, Democratic People's Republic of                                                       76
Timor-Leste                                                                                  64
Marshall Islands                                                                             60
Somalia                                                                                      57
Cayman Islands                                                                               56
BRIC members                                                                                 54
BRICS members                                                                                54
Africa, CIS and Middle East                                                                  52
Northern Mariana Islands                                                                     48
WTO Observer governments                                                                     36
Euro Area (19)                                                                               36
LDC non-fuel mineral exporters                                                               36
Curaçao                                                                                      14
Saint Martin                                                                                 14
French Southern Territories                                                                  10
Nauru                                                                                         9
Wallis and Futuna Islands                                                                     8
Andorra                                                                                       8
Tokelau                                                                                       8
Turks and Caicos Islands                                                                      8
Gibraltar                                                                                     8
Bonaire, Sint Eustatius and Saba                                                              8
Virgin Islands, British                                                                       8
Saint Helena                                                                                  8
Anguilla                                                                                      8
Name: Reporter_description, Length: 287, dtype: int64